<<<<<<< HEAD

<h1>Songs</h1>

<ul>
  <% @songs.each do |song| %>
    <li>
      <a href="<%= song_path(song) %>">
        <%= song.artist_name %>
        -
        <%= song.title %>
      </a>
    </li>
  <% end %>
=======
<h1>Songs</h1>

<ul>
  <%= @songs.all.each do |song| %>
    <li>
      <%= link_to "#{song.artist.name} - #{song.title}", song_path(song) %>
    </li>
  <% end %>  
>>>>>>> dfea399e76b398c75a8918bc3dcf5e42ad205d68
</ul>